.heading {
    text-align: center;
    font-size: 1.5em;
}
#index {
    text-align: center;    
}
.use {
    background-color: blanchedalmond;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 50px;
}
.big {
    background-color: aqua;
    font-size: 60px;
    border: double;
    text-align: center;
    margin: 0.5em;
}