body {
    background-color: #f2f0e9;
}

img {
    width: 70vw;

}


.doich {
    padding: 20px 0px 0px 0px;
}


h2 {
    font-size: 20px;
}

h1 {
    font-family: "Permanent Marker", cursive;
}

.padding123 {
    padding: 10px 0px;

}

.padding1234 {
    padding: 40px 0px;
}


.homepage {
    color: blue;
    text-decoration: underline;
}